<!-- ko with: home -->
<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">This is web application that was built with Knockout.JS to pull the weight.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This bit calls back information</p>
        <p data-bind="text: myHometown"></p>
       
        
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There's actually nothing to start in this site. but its fun to tease
        </p>
        
    </div>

    <div class="col-md-4">
        <h2>You're still here?</h2>
        <p>Ferris?</p>
        
    </div>
</div>

<!-- /ko -->
